.loginPage {

    background: $black;
    text-align: center;
    padding:20px;
    color : #fff;


    .logoText {

        font-size: 5rem;
        margin-bottom: 50px;
        color: $orange;
        font-family: $primaryFont;

    }

    .outerWrapper {
        display: table;
        height:100%;
        width: 100%;

        .innerWrapper {
            display: table-cell;
            vertical-align: middle;
        }

    }

    .inputWrapper {
        margin-bottom: 20px;
        label {
            display: block;
        } 
        input {
            text-align: center;
            font-size: 1rem;
            background: darken($black, 10%);
            border: none;
            padding:10px;
            @include transition(0.4s);
            &:hover {
                background: lighten($black, 10%);
            }
            &:focus {
                background: lighten($black, 10%);
            }
        }
    }
    .errors {
        font-size: 0.8rem;
        color: $orange;
    }

    .message {
        display: inline-block;
        color:$black;
        span {
            background: $orange;
            padding:10px;

        }
    }

    button {
        background: $orange;
        border: none;
        padding: 10px;
        margin-top: 25px;
        @include transition(0.4s);
        &:hover {
            cursor:pointer;
            background: $black;
            color:$orange;
        }

    }

}