#TasksMain {
    height: 100%;
    .tasks {
        padding:10px;
        @include clearfix();
        position: fixed;
        left:0px;
        height:0px;
        width: 70%;
        height: 100%;
        background: $black;
        overflow-y: scroll;

        ul {
            max-width: 800px;
            margin: auto;
        }
        
    }
    .infoWindow {
        width:30%;
        height: 100%;
        position: fixed;
        right:0px;
    
    }

}