.createTask {
  padding: 10px;
  max-width: 800px;
  background: #fff;
  @include clearfix();
  @include shaddow();
  margin: 25px auto 25px auto;
  input {
    width: 100%;
    font-size: 1rem;
    padding: 5px;
  }
  .text {
    @include span(4);
  }
  .email {
    @include span(4);
  }
  .actions {
    @include span(3);
    .add {
      float: right;
      button {
        font-size: 1rem;
        background: none;
        border: none;
        padding: 10px;
        i {
          color: green;
        }

        @include transition(0.4s);
        &:focus {
          outline: none;
        }
        &:hover {
          cursor: pointer;
          background: lighten($orange, 20%);
          i {
            color: $black;
          }
        }
      }
    }
  }
  .errors {
    background: $black;
    font-size: 0.8rem;
    color: $orange;
    ul {
      padding: 5px !important;
    }
  }
}