.flashMessages {
  max-width: 800px;
  margin: auto;
  .message {
    padding: 10px;
    margin-bottom: 10px;
    @include shaddow();
    color: #fff;
    &.success {
      background: green;

    }
    &.error {
      background: red;
    }

  }
}