#Header {

  @include clearfix();
  @include shaddow();
  width: 100%;
  background: $orange;
  .user {
    @include span(12);
    @include clearfix();
    padding: 20px;

    img {
      width: 20%;
      height: 20%;
      @include borderRadius(50%);
      vertical-align: middle;
      margin-right: 5%;
    }

    font-size: 2rem;

    font-family: $secondaryFont;

  }
  .menu {
    clear: both;
    @include clearfix();
    text-align: right;
    padding: 20px;
    button {
      cursor: pointer;
      background: none;
      border: none;
      float: right;
      @include transition(0.4s);
      padding: 10px;
      &:hover {
        background: $black;
        color: $orange;
      }
    }
  }

}