.task {

  width: 100%;
  padding: 10px;
  background: #fff;
  margin: 10px 0px 10px 0px;
  @include shaddow();

  &:hover {
    cursor: pointer;
  }

  .inputWrapper {
    width: 80%;
    max-width: 600px;
    display: inline-block;

    input {
      width: 100%;
      font-size: 1rem;
      padding: 5px;
      @include borderRadius(5px);
      border: none;
      @include transition(0.7s);

      &:focus {
        outline: none;
        background: lighten($orange, 20%);
      }

      &:hover {
        background: lighten($orange, 20%);
      }
    }

  }
  .actions {
    width: 20%;
    text-align: right;
    display: inline-block;
    div {
      display: inline-block;
      text-align: right;
      padding: 5px;
      margin: 0px 5px 0px 5px;

      i {
        @include transition(0.4s);
        &:hover {
          cursor: pointer;
        }
      }

      &.doneIcon {
        &:hover {
          i {
            color: green;
          }
        }
      }
      &.trashIcon {
        &:hover {
          i {
            color: $orange;
          }
        }
      }

    }

  }
  .recentHistory {
    background: lighten($black, 60%);
    padding: 5px;
    width: 100%;
    @include clearfix();
    font-size: 0.6rem;
    img {
      width: 3%;
      height: 15%;
      @include borderRadius(50%);
      vertical-align: middle;
      margin-right: 1%;
    }
  }

  &.completed {

    background: lighten($black, 70%);
    .inputWrapper {
      input {
        text-decoration: line-through;
        background: none;

        &:focus {
          outline: none;
          background: none;
        }

        &:hover {
          background: none;
        }

      }
    }
  }

}