.taskInfo {
  .wrapper {
    padding: 20px;

    .text {
      margin-bottom: 40px;
      font-size: 1.2rem;
    }

    .history {
      max-height: 800px;
      overflow-y: scroll;
      ul {
        li {
          @include clearfix();
          width: 100%;
          margin-bottom: 10px;

          img {
            margin-right: 10px;
            @include borderRadius(50%);
            height: 7%;
            width: 7%;
            vertical-align: middle;
          }
          font-size: 0.9rem;

        }
      }
    }

  }
}