html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: $secondaryFont;
}

div {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

$susy: (
        columns: 12,
        gutters: 1/4,
        math: fluid,
        output: float,
        gutter-position: split,
);

