@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin shaddow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@mixin clearfix {
  &::before, &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
  &container {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  }
}

@mixin borderRadius($args) {
  -webkit-border-radius: $args;
  -moz-border-radius: $args;
  border-radius: $args;
}

@mixin button() {
  @include transition(0.4s);
  text-decoration: none;
  text-transform: uppercase;
  @include borderRadius(20px);
  cursor: pointer;
}

@mixin placeHolder($color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}

//Break points

@mixin small {
  @media only screen and (min-width: $small) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: $medium) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large) {
    @content;
  }
}

@mixin extraLarge {
  @media only screen and (min-width: $extraLarge) {
    @content;
  }
}